*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "ubuntu",sans-serif;
}

input[type=button]{
    width:80px;
    height:87px;
    font-size:30px;
    background-color:black;
    border-radius:7px;
    color:red;
    border:3px solid #2a0134;
   }
    
    
    body{
    background-color:white;
}
    
    h1{
    font-size:15px;
    text-align:center;
    margin-top:1px;
    color:white;
    font-weight: bold;
    }
    
    button{
    background-color:#0E4D92;
    border-radius:30px;
    padding:10px 30px;
    color:#000000;
    font-size:15px;
    border:3px solid transparent;
    margin:20px 0 0 0;
    }
    
    #note{
    background-color:#0063B2Ff;
    position: relative;
    margin-left:10px;
    margin-top:10px;
    border:2px solid transparent;
    border-radius:5px;
    font-size:0.7em;
    width:100px;
    height:80px;
    float:left;
     }
    
    #display{
      color:yellow;
      font-size:15px;
    }
    
    #winner{
      color:yellow;
      font-size:10px;
    }
    #bod{
    max-width:350px;
    width: 100%;
    margin: 50px auto;
    padding: 0 0 50px 0;
    border:2px solid transparent;
    border-radius:8px;
    background-color:#00022e;
    float:center;
    }
    input[type=reset]{
     padding: 10px 30px;
     border:2px solid transparent;
     border-radius:30px;
     background-color:red;
     color:black;
     font-size:0.7em;
     float:right;
     font-weight:bold;
     margin-top: 30px;
    }
     
    #tab{
       margin:100px 0 0 0;
       border: 1px solid transparent;
       position: relative;
       padding: 0;
       display: block;
      
    }